#cabecalho{
    background-color: #595551;
}

#logo{
    width: 81px;
    height: 69px
}

#divNavCabecalho{
    margin: auto;
}

#navCabecalho{
    color:white;
    justify-content: center;
}

#navPaginaInicial{
    text-decoration: none;
    color: white;
}

.ms-5{
    text-decoration: none;
    color: white;
}

#articleBanner{
    width: 100%;
}

#banner{
    width: 100%;
}

.title{
    text-align: center;
    margin-top: 5%;
    font-family: 'ADLaM Display','sans-serif';
}

#paragrafoCadastrar{
    text-align: left;
    font-family: 'mako', 'sans-serif';
    font-size: 36px;
    margin-top:8%;
}

#rowCadastrar{
    margin-top:4%;
}

#rowAvaliar{
    margin-top:4%;
}

#btnCadastrar{
    border-radius:40px;
    width: 50%;
    background-color: #00A8E1;
    color: #FFBD59;
    border:none;
    height: 52px;
    font-family: 'inter', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
}

#titleAvaliar{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}

#rowBtnCadastrar{
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

#hrDivisoria{
    width:80%;
    margin: auto;
    margin-top: 2%;
}

#paragrafoAvaliar{
    text-align: right;
    font-family: 'mako', 'sans-serif';
    font-size: 36px;
}

#btnAvaliar{
    border-radius:40px;
    width: 50%;
    background-color: #00A8E1;
    color: #FFBD59;
    border:none;
    height: 52px;
    font-family: 'inter', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
}

#rowBtnAvaliar{
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

#rodape{
    background-color: #595551;
    margin-top: 5%;
}

#navRodape{
    margin-top:2%;
    color:white;
}

#divContatos{
    text-align: center;
    margin-top: 2%;
    color: white;
}

.redesSociais{
    width: 29px;
    height: 27px;
}

@media screen and (max-width: 768px){
    #paragrafoCadastrar{
        text-align: center;
        font-family: 'mako', 'sans-serif';
        font-size: 36px;
    }

    #paragrafoAvaliar{
        text-align: center;
        font-family: 'mako', 'sans-serif';
        font-size: 36px;
    }
    #divLogo{
        text-align: center;
    }

    #btnCadastrar{
        margin-bottom: 2%;
    }

    #btnAvaliar{
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 998px){
    #containerAvaliar{
        background-color: #595551;
        border-radius: 40px;
        color: white;
        padding:0px;
    }

    #containerCadastrar{
        background-color: #595551;
        border-radius: 40px;
        color: white;
        padding:0px;
    }

    #imagemAvaliar{
        width: 100%;
        height: 100%;
        border-radius: 40px 0px 0px 40px;
    }

    #imagemCadastrar{
        width: 100%;
        height: 100%;
        border-radius: 0px 40px 40px 0px;
    }

    #paragrafoCadastrar{
        text-align: left;
        font-family: 'mako', 'sans-serif';
        font-size: 36px;
        margin-top:8%;
        margin-left: 8%;
    }
    
    #paragrafoAvaliar{
        text-align: right;
        font-family: 'mako', 'sans-serif';
        font-size: 36px;
        margin-top:8%;
        margin-right:8%;
    }
}