<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cinemais - Cadastre,avalie e se divirta</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>

        <link rel="stylesheet" th:href="@{/css/styleIndex.css}"/>

        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mako&family=ADLaM+Display&display=swap" rel="stylesheet"/>

    </head>

    <body>
        <header th:insert="cabecalho.html"></header>

        <article id="articleBanner">   
            <a th:href="@{/cadastrar}">
                <img th:src="@{/images/banner.png}" id="banner"/>
            </a>
        </article>
        <main>
            <article>
                <div class="container" id="containerCadastrar">

                    <div class="row" id="rowCadastrar">
                        <div class="col-sm-6">
                            <h1 class="title">CADASTRE SEUS FILMES FAVORITOS</h1>
                            <p id="paragrafoCadastrar">Cadastre os seus filmes favoritos para que outras pessoas
                                possam vê-lo e avalia-lo!</p>

                            <div class="row" id="rowBtnCadastrar">
                                <a class="btn btn-primary" id="btnCadastrar" th:href="@{/cadastrar}"><strong>Cadastrar</strong></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <img th:src="@{/images/imagemCadastrar.jpeg}" id="imagemCadastrar" th:href="@{/cadastrar}"/>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="container" id="containerAvaliar">
                    <div class="row" id="rowAvaliar">
                        <div class="col-sm-6">
                            <img th:src="@{/images/imagemAvaliar.jpeg}" id="imagemAvaliar"/>
                        </div>
                        <div class="col-sm-6">
                            <h1 class="title" id="titleAvaliar">AVALIE FILMES JÁ CADASTRADOS</h1>
                            <p id="paragrafoAvaliar">Avalie filmes já cadastrados e coloque os melhores filmes no topo! E de quebra aumente seu repertório de filmes </p>

                            <div class="row" id="rowBtnAvaliar">
                                <a class="btn btn-primary" id="btnAvaliar" th:href="@{/avaliar}"><strong>Avaliar</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </main>
        <footer th:insert="rodape.html"></footer>
    </body>
</html>